@font-face {
	font-family:game-of-thrones-kg25;
	src: url(game-of-thrones-kg25.ttf);
	font-weight: bold;
}

html {
	overflow-y: scroll;
}

.app {
    background: blue url('got.jpeg') center center no-repeat;
    background-size: cover;
    height: 1000px;	
}

.container {
    position: relative;
}

.both {
    clear: both;
    margin: 10px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
    width: 540px;
}

.toggle-btn {
    padding: 12px;
    background-color: #1e2edb;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 40px;
    outline: none;
    box-shadow: 0px 0px 30px rgba(256,256,256,.1);
    cursor: pointer;
}

.toggle-btn:focus {
    outline: none;
}

#button-first {
    display: block;
    position: absolute;
    top: 355px;
    left: 15px;
    width: 500px;
}

#button-second {
    display: block;
    position: absolute;
    top: 355px;
    right: 20px;
    width:585px;
}

.toggleChar {
    padding: 25px 25px 15px 25px;
    margin: 0 5px 50px 0;
    display: inline-block;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}

.toggleHouse {
    padding: 25px 25px 15px 25px;
    margin: 0 5px 50px 0;
    display: inline-block;
    height: 350px;
    width: 550px;
    margin-left: 15px;
    border-radius: 10px;
}

#welcome {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: game-of-thrones-kg25;
    line-height: 20px;
    display: block;
    margin-top: 60px;
}
